doctype html
html(lang="en")
	head
		title RBMA Nav
		meta(name="viewport", content="width=device-width, user-scalable=no")
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="bower_components/normalize.css/normalize.css")
		link(rel="stylesheet", type="text/css", href="css/nav.css")
	body
		header

			


			.logo
				a(href="/home")
					img(alt="Red Bull Music Academy Logo", src="http://www.redbullmusicacademy.com/rbma/images/rblogo-hi.png")
					span(class="sitename") Red Bull Music Academy
					span(class="mobilesitename") Red Bull <br> Music Academy
			


			nav
				ul
					li(class="sub")
						span
							a(href="/magazine") Magazine
					li(class="sub")
						span
							a(href="/events") Events
					li(class="sub")
						span
							a(href="/lectures") Lectures
					li(class="sub")
						span
							a(href="/people") People
					li(class="sub")
						span
							a(href="/about") About
					li(class="radio")
						span
							a(href="http://www.rbmaradio.com/", target="_blank") Radio


